<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Türkiye Deprem</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.1/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.1/dist/leaflet.markercluster.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/app.css">
    
</head>
<body class="primary root text-sm font-mono">
    <div id="map"></div>
    <div class="container py-4 mx-auto">

        <h2 class="text-3xl py-2 font-bold">3'ün Üzerindeki Depremler: </h2>
        <div class="flex flex-wrap my-4 gap-x-8 gap-y-12 justify-center" id="eqk"></div>
        <div id="storage" class="hidden flex flex-wrap mt-12 mb-4 gap-x-8 gap-y-12 justify-center"></div>
        <button id="showMoreButton" class="third w-full px-4 py-2 mt-4 rounded-md" onclick= showStorage() >Hepsini Göster</button>
        <div class="mt-24"><h2>Bu veriler afadın son 30 gün verisidir.</h2></div>
    </div>

    <script src="/index.js"></script>
</body>
</html>
